python-rapidjson
requests
ruamel.yaml
cachetools
conda
conda-package-handling
conda-smithy
conda-build
libmambapy>=1.5.1,<2.0a0
ruamel.yaml.jinja2
conda-forge-metadata>=0.2.0
wurlitzer
requests
zstandard
boltons>=23.0.0
py-rattler==0.6.*
