name: tests-mamba

on:
  push:
    branches:
      - main
  pull_request: null

env:
  PY_COLORS: "1"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests-mamba:
    name: tests-mamba
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
        with:
          fetch-depth: 0

      - uses: conda-incubator/setup-miniconda@a4260408e20b96e80095f42ff7f1a15b27dd94ca # v3.0.4
        with:
          channels: conda-forge
          channel-priority: strict
          show-channel-urls: true
          miniforge-version: latest
          python-version: 3.11

      - name: configure conda and install code
        shell: bash -el {0}
        run: |
          mamba install --yes --file=requirements.txt
          mamba install --yes pytest flaky pip python-build setuptools_scm>=7 setuptools>=45 toml
          pip install -e .

      - name: test versions
        shell: bash -el {0}
        run: |
          pip uninstall conda-forge-feedstock-check-solvable --yes
          [[ $(python setup.py --version) != "0.0.0" ]] || exit 1

          rm -rf dist/*
          python setup.py sdist
          pip install --no-deps --no-build-isolation dist/*.tar.gz
          pushd ..
          python -c "import conda_forge_feedstock_check_solvable; assert conda_forge_feedstock_check_solvable.__version__ != '0.0.0'"
          popd
          pip uninstall conda-forge-feedstock-check-solvable --yes

          rm -rf dist/*
          python -m build --sdist . --outdir dist
          pip install --no-deps --no-build-isolation dist/*.tar.gz
          pushd ..
          python -c "import conda_forge_feedstock_check_solvable; assert conda_forge_feedstock_check_solvable.__version__ != '0.0.0'"
          popd
          pip uninstall conda-forge-feedstock-check-solvable --yes

          python -m pip install -v --no-deps --no-build-isolation -e .

      - name: test w/ mamba
        shell: bash -el {0}
        run: |
          pytest -vv --durations=0 --solver=mamba tests
